# Created by https://www.toptal.com/developers/gitignore/api/nodechakratimetraveldebug,angular,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=nodechakratimetraveldebug,angular,visualstudiocode

### Angular ###
## Angular ##
# compiled output
dist/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
node_modules/
bower_components/

# IDEs and editors
.idea/

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
.angular/

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store/

### NodeChakraTimeTravelDebug ###
# gitignore template for NodeChakra Time Travel Debug
# website: https://marketplace.visualstudio.com/items?itemName=ttd-trace-tools.node-chakracore-time-travel-debugger

# Ignore time-travel trace files
# https://github.com/mrkmarron/node-chakracore-time-travel-debugger#notes
_ttd_log_

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/nodechakratimetraveldebug,angular,visualstudiocode